__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.build
.pytest_cache
.ruff_cache
.mypy_cache
.ipynb_checkpoints
.git
.gitignore
.dockerignore
Dockerfile
README.md
